@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";


/*Styles*/
body {
    /*background-color: white;*/
    background: url('images/colour_explosion1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family: 'Oswald', sans-serif;
    height: 100vh; /* changing this changes where the image is focused */
    overflow: hidden;

}

#formTitle {
    font-size: 59px;
    padding: 20px; /*this changes the position of the title*/
    width: 90%;
    position: relative;
    left: 5%;
    top: 1%;
    font-family: 'Oswald', sans-serif;
    color: black;


}
#user_inputs_new_message {
    text-align: center;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
    resize: none; /*without this line the user can adjust the size of the boz where they want to enter their message*!*/
    position: relative;

}




#Modal {
    background: white;
    border-radius: 25px;
    padding: 55px;

    position: relative;
    top: 5vh;
    left: 25%;
    margin-top: -50px;
    margin-left: -50px;
    width: 1450px;
    height: 400px;

}


#Modal:hover{
    cursor: pointer;

}

#Modal1 {
    background: white;
    border-radius: 25px;
    padding: 55px;

    position: relative;
    top: 10%;
    left: 25%;
    margin-top: -50px;
    margin-left: -50px;
    width: 1450px;
    height: 400px;

}
#Modal1:hover{
    cursor: pointer;

}



#profile_pic{
    position: absolute;
    top: 20%;
    left: 75%;
    border-radius: 25px;

}
#profile_pic1{
    position: absolute;
    top: 25%;
    left: 75%;
    border-radius: 25px;

}

h1{
    font-family: 'Oswald', sans-serif;
    color: white;
    width: 100%;
    display:inline-block;
    padding-top:8rem; /* this adjusts the position of the header up and down */
    text-align: center;
    font-size: 5vw;
    height: 3.5em;
    line-height:0.1em;
    overflow:hidden;
    margin: 0 auto;
    top: 500px;
}

/*@media only screen and (max-width: 600px){*/
/*    h1{*/
/*        font-size: 50px;*/
/*    }*/
/*}*/



p{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 70%;
    left: 6%;
    colour: black;

}

/*// Inputs*/
.Input {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 3px;
    margin-bottom: 5px;
}

/*Button*/
#post_message_button {
    text-align: center;
    background-color: #6b4d15;
    border: none;
    border-radius: 3px;
    color: white;


    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    font-weight: 500;
    justify-content: center;

    outline: none;
    padding: 10px 9px 10px 11px;
    text-transform: uppercase;
    width: 180px;
    height: 40px;

    margin: 0;
    position: relative;
    top: 55px;
    left: -25%;
}

#post_message_button:hover{
    transform: scale(1.1);
    cursor: pointer;

}

#clear_message_button {
    text-align: center;
    background-color: #6b4d15;
    border: none;
    border-radius: 3px;
    color: white;


    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    justify-content: center;

    outline: none;
    padding: 10px 9px 10px 11px;
    text-transform: uppercase;
    width: 180px;
    height: 40px;

    margin: 0;
    position: relative;
    top: 55px;
    left: 3%;
}

#clear_message_button:hover{
    transform: scale(1.1);
    cursor: pointer;

}

/*@media screen and (max-width: 600px){*/
/*    #Modal {*/
/*        width : 60%;*/
/*        height: 20%;*/
/*        margin-top: 50px;*/
/*        margin-left: -50px;*/
/*    }*/

/*    #Modal1 {*/
/*        width : 60%;*/
/*        height: 20%;*/
/*    }*/

/*    #formTitle {*/
/*        font-size: 90%;*/
/*        left: 0.1px;*/
/*        padding: 0.5px;*/
/*    }*/

/*    #profile_pic{*/
/*        width: 20%;*/
/*        height: auto;*/
/*    }*/

/*    #profile_pic1{*/
/*        width: 20%;*/
/*        height: auto;*/
/*    }*/

/*    p{*/
/*        font-size: 90%;*/
/*        left: 20%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 768px){*/
/*    #Modal {*/
/*        width : 60%;*/
/*        height: 20%;*/
/*        margin-top: 50px;*/
/*        margin-left: -50px;*/
/*    }*/

/*    #Modal1 {*/
/*        width : 60%;*/
/*        height: 20%;*/
/*    }*/

/*    #formTitle {*/
/*        font-size: 90%;*/
/*        left: 0.1px;*/
/*        padding: 0.5px;*/
/*    }*/

/*    #profile_pic{*/
/*        width: 20%;*/
/*        height: auto;*/
/*    }*/

/*    #profile_pic1{*/
/*        width: 20%;*/
/*        height: auto;*/
/*    }*/

/*    p{*/
/*        font-size: 90%;*/
/*        left: 20%;*/
/*    }*/
/*}*/

@media screen and (max-width: 1024px){
    #Modal {
        width : 60%;
        height: 20%;
        margin-top: 50px;
        margin-left: -50px;
    }

    #Modal1 {
        width : 60%;
        height: 20%;
    }

    #formTitle {
        font-size: 90%;
        left: 0.1px;
        padding: 0.5px;
    }

    #profile_pic{
        width: 20%;
        height: auto;
    }

    #profile_pic1{
        width: 20%;
        height: auto;
    }

    p{
        font-size: 90%;
        left: 20%;
    }
}



