.bg-cover {
    background-size: cover !important;
}

body {
    min-height: 100vh;
}

p{
    font-size: 400px;
    height: 0.25em;
    line-height:0.5em;
    overflow:hidden;
    margin: 0 auto;
}


h1{
    /*font-weight: bold;*/
    /*font-style: normal;*/
    color: black;
    text-decoration: none;
    width: 100%;
    /*display:inline-block;*/
    padding-top:6.5rem; /* this adjusts the position of the header up and down */
    text-align: center;
    font-size: 100px;
    font-family: 'Oswald', sans-serif;
    height: 2em;
    line-height:0em;
    overflow:hidden;
    margin: 0 auto;
    top: 400px;
}


.header-img{
    width: 100%;
    height: 300px; /* this changes how big the image of the balloons is */
    background: var(--background-image1);
    positon: absolute;
    top: 0;


}

.birthday-date{
    font-weight: 400;
    font-style: normal;
    color: var(--font-color);
    text-decoration: none;
    height: 80px;
    text-align:center;
    padding-top:2.5rem;
    font-size: 30px;
    background-position: fixed;
    font-family: 'Oswald', sans-serif;


}

#press_to_post_message {
    text-align: center;
    background-color: 	#404040;
    border: none;
    border-radius: 3px;
    color: 	white;


    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;

    outline: none;
    padding: 10px 9px 10px 11px;
    text-transform: uppercase;
    width: 240px;
    height: 50px;

    margin: 0;
    position: relative;
    top: -40px;
    left: 85%;
}

#press_to_post_message:hover{
    transform: scale(1.1);
    cursor: pointer;

}


.wrapper{
    position:absolute;
    top:70%;
    left:20%;
    transform: translate(-50%,-50%);
}


.mail{
    width: 300px;
    height: 200px;
    background: var(--color-seven);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    transform-style: preserve-3d; /*The transform property applies a 2D or 3D transformation to an element. This property allows you to rotate, scale, move, skew, etc., elements.*/
    cursor: pointer;
}

.mail:before{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid var(--color-secondary);
    border-top: 100px solid transparent;
    border-bottom: 100px solid  var(--color-secondary); /* 100px as thats half the value of the height */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 5;

}

.mail:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 150px solid var(--color-secondary);
    border-right: 150px solid transparent;
    border-top: 100px solid transparent;
    border-bottom: 100px solid ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 4; /*gets or returns the stack order of a positioned element - the higher the stack property the more infront it is */

}

.cover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 100px solid var(--color-seven);
    border-bottom: 100px solid transparent;
    z-index: 6;
    transform-origin: top;
    transform: rotateX(0deg);
    transition: all 0.5s 0.5s ease;


}

.letter{
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 10px;
    background: white;
    width: 280px;
    height: 190px;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.letter textarea{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: black;
    font-weight: 600;
    border-radius: 20px;


}

.letter2 textarea{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: black;
    font-weight: 600;
    border-radius: 20px;

}

.letter3 textarea{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: black;
    font-weight: 600;
    border-radius: 20px;

}

.letter4 textarea{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: black;
    font-weight: 600;
    border-radius: 20px;

}

#where_messages_appear {
    text-align: center;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    border-radius: 20px;
    resize: none; /*without this line the user can adjust the size of the boz where they want to enter their message*/
    border-color: white;

}

.mail:hover .cover:before{
    transform: rotateX(180deg);
    transition: all 1s ease;
}

.mail:hover .letter{
    top: -200px; /* this controls how much the letter comes out of the envelope */
    transition: all 1s 1s ease;
}
.wrapper2{
    position:absolute;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
}

.mail2{
    width: 300px;
    height: 200px;
    background: var(--color-six);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
}

.mail2:before{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid var(--color-primary);
    border-top: 100px solid transparent;
    border-bottom: 100px solid  var(--color-primary); /* 100px as thats half the value of the height */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 5;

}

.mail2:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 150px solid var(--color-primary);
    border-right: 150px solid transparent;
    border-top: 100px solid transparent;
    border-bottom: 100px solid var(--color-six);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 4;

}

#where_messages_appear {
    text-align: center;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    border-radius: 20px;
    resize: none; /*without this line the user can adjust the size of the boz where they want to enter their message*/
    border-color: white;

}

.cover2:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 100px solid var(--color-six);
    border-bottom: 100px solid transparent;
    z-index: 6;
    transform-origin: top;
    transform: rotateX(0deg);
    transition: all 0.5s 0.5s ease;

}

.letter2{
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 10px;
    background: white;
    width: 280px;
    height: 190px;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.letter2 h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #798992;
    font-weight: 900;

}

.mail2:hover .cover2:before{
    transform: rotateX(180deg);
    transition: all 0.75s ease;
}

.mail2:hover .letter2{
    top: -200px; /* this controls how much the letter comes out of the envelope */
    transition: all 1s 1s ease;
}

.wrapper3{
    position:absolute;
    top:70%;
    left:80%;
    transform: translate(-50%,-50%);
}

.mail3{
    width: 300px;
    height: 200px;
    background: var(--color-eight);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
}

.mail3:before{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid var(--color-tertiary);
    border-top: 100px solid transparent;
    border-bottom: 100px solid var(--color-tertiary) ; /* 100px as thats half the value of the height */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 5;

}

.mail3:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 150px solid var(--color-tertiary);
    border-right: 150px solid transparent;
    border-top: 100px solid transparent;
    border-bottom: 100px solid var(--color-tertiary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 4;

}

#where_messages_appear {
    text-align: center;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    border-radius: 20px;
    resize: none; /*without this line the user can adjust the size of the boz where they want to enter their message*/
    border-color: white;

}

.cover3:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 100px solid var(--color-eight);
    border-bottom: 100px solid transparent;
    z-index: 6;
    transform-origin: top;
    transform: rotateX(0deg);
    transition: all 0.5s 0.5s ease;

}

.letter3{
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 10px;
    background: white;
    width: 280px;
    height: 190px;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.letter3 h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #798992;
    font-weight: 900;

}

.mail3:hover .cover3:before{
    transform: rotateX(180deg);
    transition: all 0.75s ease;
}

.mail3:hover .letter3{
    top: -200px; /* this controls how much the letter comes out of the envelope */
    transition: all 1s 1s ease;
}

/********************************************/

.wrapper4{
    position:absolute;
    top:70%;
    left:80%;
    transform: translate(-50%,-50%);
}

.mail4{
    width: 300px;
    height: 200px;
    background: var(--color-five);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
}

.mail4:before{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid var(--color-four);
    border-top: 100px solid transparent;
    border-bottom: 100px solid var(--color-four); /* 100px as thats half the value of the height */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 5;

}

.mail4:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 150px solid var(--color-four);
    border-right: 150px solid transparent;
    border-top: 100px solid transparent;
    border-bottom: 100px solid var(--color-four);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 4;

}

#where_messages_appear {
    text-align: center;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    border-radius: 20px;
    resize: none; /*without this line the user can adjust the size of the boz where they want to enter their message*/
    border-color: white;

}

.cover4:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 100px solid var(--color-five);
    border-bottom: 100px solid transparent;
    z-index: 6;
    transform-origin: top;
    transform: rotateX(0deg);
    transition: all 0.5s 0.5s ease;

}

.letter4{
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 10px;
    background: white;
    width: 280px;
    height: 190px;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.letter4 h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #798992;
    font-weight: 900;

}

.mail4:hover .cover4:before{
    transform: rotateX(180deg);
    transition: all 0.75s ease;
}

.mail4:hover .letter4{
    top: -200px; /* this controls how much the letter comes out of the envelope */
    transition: all 1s 1s ease;
}




.container{
    max-width:1500px;
    margin-top: 200px;
    position: relative;
    /*margin: auto;*/
    /*max-width: 300px;*/
    float: none;
    margin: 20 auto;



}

#deleteButton{
    background-color: white;
    border: black;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

html,
.parallax {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    display: flex;
    background: var(--background-image);
    flex-direction: column;

    /*background-image: url("images/birthday_image7.png");*/

    /* Set a specific height */
    min-height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.theme-light {
    --background-image: #E8E8E8;
    --background-image1: url('images/bunting.jpg');
    --color-accent: #fd6f53;
    --color-primary: #C71585;
    --color-secondary: #9ACD32;
    --color-tertiary: #8A2BE2;
    --color-four: #FFA500;
    --color-five: #FF8C00;
    --color-six: #D71868;
    --color-seven: #7BA428;
    --color-eight: #9400D3;
    --font-color: #000000;

}
.theme-dark {
    --background-image:url('images/colour_explosion3.jpg');
    --background-image1: #5D71AC;
    --color-primary: #6666FF;
    --color-primary1: black;
    --color-secondary: #FF33CC;
    --color-tertiary: #3399FF;
    --color-four: #CC0033;
    --color-five: #CC0000;
    --color-six: #6633FF;
    --color-seven: #FF0099;
    --color-eight: #3366FF;
    --color-accent: #12cdea;
    --font-color: black;
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 247px;
    left: 97%;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary1);
    -webkit-transition: 0.4s;
    transition: 0.4s;

}

.slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;

}

input:checked + .slider {
    background-color: var(--color-tertiary);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--color-tertiary);
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;

}

.slider.round:before {
    border-radius: 50%;
}